.homepage {
    display: flex;
    flex-direction: column;
    background-color: #061b48;
    height: 100%;
    flex: 1
  }
  
  .top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .square img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .square label {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    width: 20vw;
  }

  .loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .application-label, .label, .application-download{
    font-weight: bold;
    color: white;
  }

  .application-label{
    color: #193c8d;
    font-size: 1.5rem;
    background-color: rgb(193, 193, 230);
    margin-top: 12px;
    padding: 5px;
    border-radius: 10px;
  }

  @media screen and (max-width: 800px){
    .top-grid{
      display: table-column;
    }
    .square{
      margin-top: 40px;
    }
  }